@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&family=K2D:wght@300;400;500;600;700&display=swap');

// Here you can add other styles
/* -------------------------- datatable responsive media query-------------------------- */
.css-1ygil4i-MuiToolbar-root {
  background-color: var(--color-three) !important;
}
.css-1xtozoh-MuiTableRow-root:hover {
  background-color: var(--color-three) !important;
}
// .MuiTableHead-root {
//   background-color: var(--color-three) !important;
// }

@media (max-width: 900px) {
  .MuiTableHead-root {
    display: none !important;
  }

  .MuiTableCell-sizeMedium {
    display: inline-block !important;
  }

  .MuiTableCell-paddingCheckbox {
    display: table-cell !important;
  }
}

@media (max-width: 426px) {
  .tss-1vd39vz-MUIDataTableBodyCell-stackedCommon {
    font-size: 10px !important;
  }

  .css-hyum1k-MuiToolbar-root {
    flex-direction: column;
  }
}

// @media (max-width: 1400px) {
//   html:not([dir='rtl']) .ms-2 {
//     margin-left: 2rem !important;
//   }
// }
// @media (min-width: 1440px) {
//   html:not([dir='rtl']) .ms-2 {
//     margin-left: 9rem !important;
//   }
// }

// @media (max-width: 320px) {
//   html:not([dir='rtl']) .ms-2 {
//     padding-bottom: 28px;
//   }
// }
/* ----------------------------- end media query ----------------------------- */

/* ----------------------------- login  ----------------------------- */
.btn-login {
  background-color: var(--color-two);
  color: var(--color-three);
  border-radius: 10px;
  border-color: var(--color-two) !important;
  width: 100%;
  transition: all 0.3s ease;
}

.btn-login:hover {
  background-color: var(--color-two);
  color: var(--color-three);
}

.btn-login:focus {
  background-color: var(--color-two);
  color: var(--color-three);
}

.btn-login:active {
  background-color: var(--color-two) !important;
  color: var(--color-three) !important;
  opacity: 0.8;
  scale: 0.98;
}

.btn-login:disabled {
  background-color: var(--color-two) !important;
  color: var(--color-three) !important;
  opacity: 0.8;
  scale: 0.98;
}

.form-control:focus {
  border-color: var(--color-two) !important;
  box-shadow: 0 0 0 0.25rem rgba(161, 32, 254, 0.25) !important;
}

.login-page {
  background-image: url('../assets/images/loginbg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-login {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* ----------------------------- end login  ----------------------------- */

.dropdown-item:active {
  background-color: var(--color-two);
  color: var(--color-three);
}

.dropdown-item:focus {
  background-color: var(--color-two);
  color: var(--color-three);
}

.sidebar {
  --cui-sidebar-bg: var(--color-three) !important;
  --cui-sidebar-nav-link-color: var(--color-two) !important;
  --cui-sidebar-nav-link-icon-color: var(--color-two) !important;
  --cui-sidebar-nav-link-active-bg: var(--color-two) !important;
  --cui-sidebar-nav-link-active-color: var(--color-three) !important;
  --cui-sidebar-nav-link-active-icon-color: var(--color-three) !important;
  --cui-sidebar-nav-link-hover-color: var(--color-three) !important;
  --cui-sidebar-nav-link-hover-bg: var(--color-two) !important;
  --cui-sidebar-nav-link-hover-icon-color: var(--color-three) !important;
  --cui-sidebar-nav-group-toggle-show-color: var(--color-two) !important;
  // --cui-sidebar-nav-group-indicator:url("../assets/images/downarrow.svg") !important;
  // --cui-sidebar-nav-group-indicator-icon:url("../assets/images/downarrow.svg") !important;
  // --cui-sidebar-nav-group-indicator-hover:url("../assets/images/downarrow.svg") !important;
  
}


.spinner-color {
  color: var(--color-two) !important;
}

.MuiSwitch-thumb {
  color: var(--color-two) !important;
}

.Mui-checked + .MuiSwitch-track {
  background-color: var(--color-two) !important;
}

.right-text {
  text-align: right;
  margin-bottom: 10px;
}

.add-button {
  background-color: var(--color-two) !important;
  color: var(--color-three) !important;
  border-radius: 10px;
  border-color: var(--color-two) !important;
}

button.swal-button.swal-button--confirm {
  background-color: var(--color-two) !important;
  color: var(--color-three) !important;
  border-radius: 10px;
  border-color: var(--color-two) !important;
}

.editButton {
  color: var(--color-two) !important;
}

.card {
  --cui-card-cap-bg: var(--color-three) !important;
}

/* ----------------------------- add button  ----------------------------- */
.submit-button {
  background-color: var(--color-two) !important;
  color: var(--color-three) !important;
  border-radius: 10px;
  border-color: var(--color-two) !important;
  width: 100px;
  max-width: 200px;
}

.submit-button:hover {
  background-color: var(--color-two) !important;
  color: var(--color-three) !important;
}

.submit-button:active {
  background-color: var(--color-two) !important;
  color: var(--color-three) !important;
  opacity: 0.8;
  scale: 0.98;
}

.submit-button:disabled {
  background-color: var(--color-two) !important;
  color: var(--color-three) !important;
  opacity: 0.8;
  scale: 0.98;
}
/* ----------------------------- end add button  ----------------------------- */

.modal {
  --cui-modal-width: fit-content !important;
}

.errors {
  color: red !important;
}

/* ----------------------------- quill editor  ----------------------------- */
.ql-font-zen-dots {
  font-family: "Zen Dots", sans-serif;
}

.ql-font-k2d {
  font-family: "K2D", sans-serif;
}
/* ----------------------------- end quill editor  ----------------------------- */
